/* Global styles */
body {
    background-color: #FCEBB6;      /* your chosen background color */
    color: #221811;                 /* your chosen text color */
    font-family: Tahoma, Arial, sans-serif;
}

/* Header styles */
header {
    color: #8C3826;
    background-color: #D2B48C;      /* insert required color */
    text-align: center;
}

/* h1 styles */
h1 {
    line-height: 200%;
}

/* h2 styles */
h2 {
    color: #8C3826;
}

/* Navigation styles */
nav {
    text-align: center;
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: #D2B48C;      /* insert required color */
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
}
